.addBtn {
    position: fixed;
    bottom: 70px;
    right: 16px;
    height: 48px;
    width: 48px;
    font-size: 32px;
    border: none;
    border-radius: 50%;
    color: white;
    background: $theme-color;
    box-shadow: 3px 3px 3px -2px #ccc;
    -webkit-box-shadow: 3px 3px 3px -2px #ccc;
    -moz-box-shadow: 3px 3px 3px -2px #ccc;
}

.addBtn:hover {
    background: #ccc;
    color: #000;
}

