.addBtn {
    position: fixed;
    bottom: 70px;
    right: 16px;
    height: 48px;
    width: 48px;
    font-size: 32px;
    border: none;
    border-radius: 50%;
    color: white;
    background: $theme-color;
}