.catagoryList {
    margin-top: 1rem;
}

.catagoryList__header {
    margin: 2rem 0 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.catagoryList__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;
}

.catagoryList__item--box {
    display: flex;
    align-items: center;
}

.catagoryList__item--box p{
    margin-left: 1.5rem;
    text-transform: capitalize;
}